*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
}
/* color section */
:root{
	--quiz-bg-color: #EDE8E3;
	--footer-bg-color: #FFF;

	--heading-color: #191D63;
	--heading-border-borrom-color: #B4B3B5;

	--radio-color: #191D63;
	--question-color: #000000;
	--option-color: #636363;
	
	--right-radio-color: #31CD63;
	--wrong-radio-color: #F76060;
	--referesh-button-color: #31CD63;
	--referesh-text-color: #D1F6DD;
	--submit-button-color: #747475;
	--submit-text-color: #EDE8E2;
	--submit-result-button-color: #F4F3F6;
	--result-text-color: #F80E0E;
}

body{	
	min-height: 100vh;
}

#quiz-form{
		display: grid;
		grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */

}
.container__quiz{
	padding: 0 60px;
	background-color: var(--quiz-bg-color);
	max-width: auto;
}
.container__quiz-heading-section{
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	display: flex;
	border-bottom: 2px solid var(--heading-border-borrom-color);
}
.quiz__Logo{
	padding: 20px;
}
.container__quiz-heading-text{
	color: var(--heading-color);
	font-size: 30px;
	line-height: 22.3px;
}

.container__quiz-question-section{
	margin-bottom: 60px;
	grid-column: span 4; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns within each question section */
    gap: 10px; 
    align-items: center; 
}
.container__quiz-question-text{
	margin-bottom: 19px;
	font-size: 20px;
	font-weight: 600;
	color: var(--question-color);
	grid-column: span 4; /* Question text spans all 4 columns */
}
.container__quiz-options{
	color: var(--option-color);
	font-size: 18px;
	font-weight: 400;
	justify-content: space-between;
}
.option1{
	display: flex;
	align-items: center;
	gap: 10px;
}
.option2{
	display: flex;
	align-items: center;
	gap: 10px;
}
.option3{
	display: flex;
	align-items: center;
	gap: 10px;
}
.option4{
	display: flex;
	align-items: center;
	gap: 10px;
}
.container__quiz-options{
    margin-bottom: 5px; /* Adjust spacing between options */
    display: block;
}

.container__quiz-footer{
	gap: 25px;
    padding: 20px;

	background-color: var(--footer-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container__quiz-footer-buttons{
	display: flex;
	gap: 40px;
}
.container__quiz-submit-button{
	padding: 15px 38px;
	background-color: var(--submit-button-color);
	color: var(--submit-text-color);
	line-height: 20px;
	border-radius: 8px;
	cursor: pointer;
}
.container__quiz-refresh-button{
	padding: 15px 38px;
	background-color: var(--referesh-button-color);
	color: var(--referesh-text-color);
	line-height: 20px;
	border-radius: 8px;
	cursor: pointer;
}

.container__quiz-footer-note-text{
	font-size: 20px;
	color: var(--heading-color);
	font-weight: 400;

}
.container__quiz-footer-note-text span{
	font-size: 20px;
	color: var(--heading-color);
	font-weight: 700;
}
.result{
	color: var(--result-text-color);
}
#quiz-error-message{
	display: none; 
	color: red;
}


/* Change the appearance of radio button */
.radio-button {
	accent-color: var(--heading-color);
	cursor: pointer;
}


/* Change the appearance of checked radio button */
.radio-button.right:checked {
	accent-color: green; /* Green color for correct answer */
	border: none;
}

/* Change the appearance of checked wrong answer */
.radio-button.wrong:checked {
	accent-color: var(--result-text-color); /* Red color for wrong answer */
}

/* after the submission the button will be change */
.quiz-submitted {
    background-color: var(--submit-result-button-color);
}
